* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global variable */
:root {
	--primary-clr: rgb(208, 208, 61);
	--secondary-clr: black;
}

/* end of global variables */
.header-container {
	min-height: 45vh;
	background-image: url("https://source.unsplash.com/1600x900/?library");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.65;
	background-attachment: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -50;
	margin-bottom: 10px;
	width: 100vw;
}

.heading {
	font-size: 5em;
	text-align: center;
	background-color: #0000;
	opacity: 0.8;
	color: #ff0000f2;
	text-shadow: 2px 2px black;
}

.description {
	text-align: center;
	color: var(--secondary-clr);
	font-size: 2em;
	margin: 0 1.5em;
	text-decoration: solid;
}

select {
	height: 50px;
	border-radius: 15px;
	padding: 10px;
	display: inline-block;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 80vw;
	margin: 0 auto;
	justify-content: space-between;
}

.search-box-container {
	flex: 0 100%;
	display: flex;
	flex-direction: column;
	flex: 0 70%;
}

.search-form {
	width: 100%;
}

/* consider the border property repetition WIP */
.search-input {
	height: 50px;
	width: 400px;
	border: 2.5px solid black;
	border-radius: 15px;
	padding: 10px;
}

.search-button {
	height: 50px;
	width: 75px;
	border: 2.5px solid black;
	border-radius: 15px;
	cursor: pointer;
}

.input-error {
	color: red;
}

#loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid rgb(4, 0, 255);
	border-bottom: 16px solid rgb(255, 0, 85);
	border-left: 16px solid rgb(0, 255, 34);
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.results-container {
	border: 6px solid purple;
	display: none;
	float: left;
	margin-top: 35px;
}

.best-seller {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 0 30%;
	padding-left: 10px;
	margin-left: 40px;
}

.best-seller-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 5px solid black;
	padding: 8px;
}

h2 {
	font-size: 35px;
	margin-bottom: 10px;
}

.best-seller-container > p {
	margin-bottom: 10px;
	font-size: 18px;
}

.best-seller-img {
	height: 198px;
	width: 128px;
	border-radius: 5px;
	margin: 15px;
}

.search-result-container {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	
}

.search-result-list {
	border: 2px solid black;
	padding: 10px;
	display: flex;
	flex-direction: row;
	min-height: 237px;
	margin: 10px 0;
	border-radius: 12px;
}

.search-history-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	flex: 0 auto;
	margin-top: 10px;
}

.search-history-item {
	padding: 5px;
	margin: 0px 5px 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}


.img-border {
	border: 2px solid gray;
	height: 195px;
	width: 128px;
	border-radius: 9px;
}

.item-title {
	font-size: 25px;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: rgb(3, 151, 132);
}

.item-img {
	display: flex;
	flex: 0 200px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.item-link {
	text-decoration: none;
	margin-top: 15px;
	font-size: 18px;
	border: 2px groove rgb(54, 54, 146);
	border-radius: 5px;
	padding: 5px;
	color: rgb(48, 48, 53);
}

.item-link:hover {
	background-color: rgb(103, 219, 248);
}

.item-desc,
.item-author,
.item-published,
.item-id {
	display: flex;
	flex-direction: column;
	flex: 1 100%;
	padding: 10px;
	text-align: justify;
	font-size: 18px;
}
