* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global variable */
:root {
  --primary-clr: rgb(208, 208, 61);
  --secondary-clr: black;
}

/* end of global variables */
.body-container {
  line-height: 1.5;
  /* display: flex;
  flex-direction: column; */
  width: 70vw;
  margin: 0 auto;
}

.header-container {
  min-height: 45vh;
  background-image: url("https://source.unsplash.com/1600x900/?library");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.75;
  scroll-behavior: smooth;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -50;
  margin-bottom: 10px;
}

.heading {
  font-size: 5em;
  text-align: center;
  background-color: #0000;
  opacity: 0.8;
  color: #fff;
  text-shadow: 5px 5px black;
}

.description {
  text-align: center;
  color: var(--secondary-clr);
  font-size: 2em;
  margin: 0 1.5em;
  text-decoration: solid;
}

/* .main-container {
  display: flex;
  flex-direction: row;
} */

.search-box-container {
  /* margin-left: ;*/
  flex: 0 100%;
  /* margin: -50px 0px 0px 20px; */
  display: flex;
  flex-direction: column;
}

/* consider the border property repetition WIP */
.search-input {
  height: 50px;
  width: 400px;
  border: 2.5px solid black;
  border-radius: 15px;
  padding: 10px;
}

.search-button {
  height: 50px;
  width: 75px;
  border: 2.5px solid black;
  border-radius: 15px;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(4, 0, 255);
  border-bottom: 16px solid rgb(255, 0, 85);
  border-left: 16px solid rgb(0, 255, 34);
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
 
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.results-container {
  border: 6px solid purple;
  display: none;
  float: left;
  margin-top: 35px;
}

.search-list {
    margin-top: 80px;
    /* visibility: hidden; */
    text-align: left;
}

.best-seller {
  display: flex;
  flex-direction: column;
  flex: 0 30%;
  justify-content: flex-start;
  align-items: center;
}

.search-result {
  border: 2px solid black;
  display: none;
  padding: 5px;
}

.history {
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 4.5px;
}
